.header{
    height: 200px;
    flex-wrap: nowrap; 
    display: flex;

}

.logo  img {
    width:150px;
    height: 100px;
}
.img2,.img3,.img4,img5,img6{
    transition: all 1s linear;
}
.img2:hover{
    color:green;
    opacity:0.2;
}
.img3:hover{
    color:#000;
    opacity:0.2;
}
.img4:hover{
    color:#000;
    opacity:0.2;
}
.image1  img {
    width:350px;
    height: 100%;

}

.calander {
    width:350px;
height: 100%;
}

.time img{
    width: 300px;
        height: 90%;
}
.time b{
    margin-left: 100px;
  font-size: 20px;
}
.menu{
height: 50px;    
display: flex;
flex-wrap: nowrap; 
/*border: 1px solid black;*/
    background: black;
}
a{
       text-decoration: none;
       font-size: 20px;    
       text-align: center;
    margin: auto;
    color: white;
padding: 36px;    }

.aboutus {
    width:200px;
    border-left: 2px solid  white;
 
}

.home {
    width:300px;
    border-left: 2px solid  white;
    }

.login {
    width:300px;
    
    border-left: 2px solid  white;
}

.contactus{
    width: 300px;
        border-left: 2px solid  white;
    
}
.ourteam{
    width: 300px;
        border-left: 2px solid  white;
    
}
span{
font-size: 25px;
    
    
}

b{
    
    margin-left: 800px;

}

h3{
    margin-left: 100px;
    
}
.section {
    display: flex;
   flex-wrap: nowrap;
    height: 300px;
    padding: 10px;
    
}

.img2 img {
    width: 350px;
    height: 100%;
    padding: 10px;
}

.img3 img {
    width: 350px;
    padding: 10px;
    height: 100%;
}
.img4 img {
    width: 350px;
    height: 100%;
    padding: 10px;
}

.img5 img {
    width: 350px;
    height: 100%;
    padding: 10px;
}
.img6{
    width: 350px;

     
}
.fotter{
    display:flex;
    flex-wrap: nowrap;
    height: 20px;
    
}
.gethub{
    width:200px;
}

.gethub a {
    color: black;
    
}


.gethub {
    margin-left: 50px;
    
}